<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">

        <!--开启组件扫描-->
        <context:component-scan base-package="com.mark"></context:component-scan>

        <!--读取properties文件-->
        <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>

        <!--配置oracle数据源,创建连接池注入容器-->
        <bean class="oracle.jdbc.pool.OracleDataSource" id="dataSource">
            <property name="URL" value="${jdbc.url}"></property>
            <property name="user" value="${jdbc.user}"></property>
            <property name="password" value="${jdbc.password}"></property>
        </bean>

        <!--创建SqlSessionFactoryBean对象，spring整合mybatis后控制的创建获取SqlSessionFactory对象-->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
            <property name="dataSource" ref="dataSource" />
            <!--配置mybatis配置文件的路径-->
            <property name="configLocation" value="classpath:mybatis-config.xml"></property>
        </bean>

        <!--mapper扫描配置，扫描到的mapper对象会被注入到Spring容器中-->
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" id="mapperScannerConfigurer">
            <property name="basePackage" value="com.mark.Dal"></property>
        </bean>
</beans>